@using Microsoft.JSInterop
@inject IJSRuntime JS;


<form class="credentials">
    <fieldset>
        <legend>Account Details:</legend>
        <div class="first">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="mixed">
                <div class="last">
                    <label for="fname">Nazwisko:</label><br>
                    <input type="text" id="fname" name="fname" value="" class="nazwisko"><br>
                </div>
                <div class="last">
                    <label for="fname">Nazwisko:</label><br>
                    <input type="text" id="fname" name="fname" value="" class="nazwisko1"><br>
                </div>
                <div class="last">
                    <label for="fname">Nazwisko:</label><br>
                    <input type="text" id="fname" name="fname" value="" class="nazwisko2"><br>
                </div>
                <div class="last">
                    <label for="fname">Nazwisko:</label><br>
                    <input type="text" id="fname" name="fname" value="John"><br>
                </div>
            </div>

        </div>

    </fieldset>
    <fieldset>
        <legend>Account Details:</legend>
        <div class="first">
            <label for="fname">Nazwisko:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
        </div>
        <div class="second">

            <div class='name'>
                <label for="lname">Imię1:</label><br>
                <input type="text" id="lname" name="lname" value="Doe">
            </div>

            <div class='name'>
                <label class="lname2" for="lname">Imię2:</label><br>
                <input type="text" id="lname    " name="lname" value="Doe">
            </div>

        </div>
        <div class="first">
            <label for="ulica">Nazwisko Rodzica:</label><br>
            <input type="text" id="fname" name="nazwisko" value="Select"><br>
        </div>
        <div class="first">
            <label for="ulica">Ulica:</label><br>
            <input type="text" id="fname" name="ulica" value="Select"><br>
        </div>
        <div class="first">
            <label for="ulica">Miasto:</label><br>
            <input type="text" id="fname" name="miasto" value="Select"><br>
        </div>
        <div class="rodzina"></div>
        <button class="show">ShowPatientList</button>

    </fieldset>





</form>



@code {
    @*[Parameter]*@
    public string Value { get; set; }
    @*[Parameter]*@
    public string Value1 { get; set; }
    @*[Parameter]*@
    public string Value2 { get; set; }

    @*protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
             await JS.InvokeVoidAsync("setText");
            StateHasChanged();

        }
    }*@

}
